[Desktop Entry]
Name=MediaFlick Desktop
Comment=Desktop playback for Jellyfin
Exec=mediaflick-desktop
Icon=io.github.phob.MediaFlickDesktop
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
StartupWMClass=io.github.phob.MediaFlickDesktop
